{
  "comments": false,
  "env": {
    "testing-unit": {
      "presets": ["@babel/preset-env"]
    },
    "main": {
      "presets": ["@babel/preset-env"]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", { "modules": false }]
      ]
    }
  }
}
